.weather {
    place-self: center;
    padding: 40px;
    background: #eee;
    box-shadow: 8px 8px 0 #000;
    border: 4px solid #000;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

input {
    border: 4px solid #000;
    padding: 5px 10px;
    font-weight: 700;
}

#search-icon {
    border: 4px solid #000;
    box-shadow: 8px 8px 0 #000;
    padding: 5px 5px;
}

#search-icon:active {
    position: relative;
    top: 2px;
    left: 2px;
    cursor: pointer;
    box-shadow: 6px 6px 0 #000;
}

.weather-icon {
    height: 100px;
    margin: 30px 0;
}

.temperature {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
}

.location {
    font-size: 1.5rem;
}

.badges-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.weather-date{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.weather-date .col {
    display: flex;
    flex-direction: flex-start;
    gap: 6px;
}

.weather-date .col p {
    font-weight: 700;
}

hr {
    width: 130%;
    margin-top: 20px;
    border: 2px solid #000;
}

/* media queries remove the icons of wind and humidity */
@media (max-width: 400px) {
    .weather {
        padding: 10px;
    }
    hr {
        width: 110%;
    }
    .weather-date {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

@media (max-width: 320px) {
    .weather {
        padding: 0;
        box-shadow: none;
        border: none;
    }
    .search-bar {
        flex-direction: column;
    }

    .search-bar img {
        align-self: self-end;
    }
}

@media (max-width: 240px) {
    .weather {
        display: none;
    }
}